input:is([type='text'], [type='search']) {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0.5rem;
  font-size: 0.875rem;
  color: var(--color-text);
  line-height: 1rem;
  background-color: var(--color-ui-alt);
  border: 1px solid var(--color-ui-layer);
  border-radius: 0.25rem;
  transition: 0.2s;
  width: 10rem;
}

input:is([type='text'], [type='search']):hover {
  box-shadow: 0px 0px 0px 2px var(--color-ui-alt);
}

input:is([type='text'], [type='search']):focus {
  border-color: var(--color-info);
  box-shadow: 0px 0px 0px 2px var(--color-info-alt);
  outline: none;
}

input:is([type='text'], [type='search'])::placeholder {
  color: var(--color-text-secondary);
}

.input-search-clp:focus,
.input-search-clp:not(:placeholder-shown),
input[type='search']:not(.input-search-clp) {
  padding-left: 2rem;
  border-radius: 2rem;
}

.input-search-clp:not(:focus):placeholder-shown {
  width: 2.125rem;
  cursor: pointer;
}

.input-search-clp::placeholder {
  opacity: 0;
  transition: opacity 0.2s;
}

.input-search-clp:focus::placeholder {
  opacity: 1;
  transition: opacity 0.2s 0.2s;
}

.search-input-wrapper {
  display: flex;
  position: relative;
  align-items: center;
}

input[type='search'] ~ svg:first-of-type {
  position: absolute;
  left: 0.4375rem;
  width: 1.25rem;
  height: 1.25rem;
  pointer-events: none;
}

.input-search-clp ~ svg:first-of-type {
  transition: opacity 0.2s 0.2s;
}

.search-clear-icon {
  position: absolute;
  right: 0.6125rem;
  width: 1rem;
  height: 1rem;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
}

input[type='search']:not(:placeholder-shown):is(:hover, :focus)
  ~ .search-clear-icon {
  opacity: 0.5;
}

input[type='search']:placeholder-shown:focus ~ .search-clear-icon {
  transition: none;
}

input[type='search']::-webkit-search-cancel-button {
  appearance: none;
  width: 1rem;
  height: 1rem;
  margin: 0;
  cursor: pointer;
}
